@charset "UTF-8";
.season_video{
	width:150px;
	height: 100px;
}

.movies{
	justify-content: center;
	align-items: center;
}

.movie {
	border: 1px solid black;
	margin: 15px;
	width: 22%;
	height: 220px;
	float: left;
	justify-content: center;
	align-items: center;
}

.thumbnail {
	width: 100%;
	margin: auto;
	border: 0;
	outline: 0;
	display: flex;
}

.video_video {
	width: 100%;
	height: 100%;
	margin: auto;
	border: 0;
	outline: 0;
	display: none;
}

.mvFile {
	width: 450px;
	height: 350px;
	margin: auto;
}

#contentBtn {
	background: black;
	width: 400px;
}

/* modal */
#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
	/*background: rgba( 69, 139, 197, 0.70 );*/
	background: black;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 500px;
	height: 100%;
	position: relative;
	/*top: 100px;*/
	padding: 10px;
	justify-content: center;
}

#modal .title {
	padding-left: 10px;
	display: inline;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

#modal .title h2 {
	display: inline;
}

#modal .close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

#modal .content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

#modal .comment {
	color: white;
	font-size: 18px;
	text-align: center;
}